body.janken {
    background-color: #9C835F;
    background-size: cover;
    background-repeat: no-repeat;
}

li.nav-item {
    margin-right: 24px;
}

p.nav-title {
    font-family: Open Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
    color: #F9B23D;
}

#janken {
    padding: 40px;
}

.img-fluid {
    margin: 28px;
}