body {
    min-height: 2000px;
}

#jumbotron-satu {
    background-image: url("/assets/img/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 960.14px;
    margin-top: -75px;
}

#games {
    background-image: url("/assets/img/the-games-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 1441.62px;
    height: 1051.43px;
    margin-top: -75px;
}

#features {
    background-image: url("/assets/img/features.jpg");
    background-size: cover;
    background-position: center;
    width: 1441.62px;
    height: 870.26px;
}

#requirement {
    background-image: url("/assets/img/requirements.png");
    background-size: cover;
    background-position: center;
    width: 1441.58px;
    height: 960.16px;
    margin-top: -145px;
}

#score {
    background-image: url("/assets/img/top-score-bg.png");
    background-size: cover;
    background-position: center;
    width: 1441.58px;
    height: 960.16px;
}

#newsletter {
    background-image: url("/assets/img/newsletter.png");
    background-size: cover;
    background-position: center;
    width: 1448.25px;
    height: 959.87px;
}

h1#features {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1.menu-1  {
    padding-top: 10rem;
    height: 73.12px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

p.menu-1 {
    padding: 8rem;
    font-family: 'Arial';
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}

a#menu-1 {
    width: 260.36px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #1A1917;
}

.carousel {
    margin-top: 200px;
    width: 500px;
    height: 500px;
}

#features .features-display-1 {
    padding-top: 54px;
    margin-left: 709.62px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#features .features-display-2 {
    margin-left: 709.62px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#features .features-image-1 {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: 709.62px;
    margin-top: 105.91px;
}

#features .features-image-2 {
    position: absolute;
    margin-left: 715.62px;
    margin-top: 118.91px;
}

#features .features-display-3 {
    margin-left: 755.29px;
    margin-top: 105.91px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

#features .features-display-4 {
    margin-left: 755.29px;
    margin-top: 25.91px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    color: #FFFFFF;
}

#features .features-display-5 {
    margin-left: 755.29px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    color: #FFFFFF;
}

#features .features-image-3 {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: 709.62px;
    margin-top: 30.91px;
}

#features .features-display-6 {
    margin-left: 755.29px;
    margin-top: 40.91px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

#features .features-image-4 {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-left: 709.62px;
    margin-top: 40.91px;
}

#features .features-display-7 {
    margin-left: 755.29px;
    margin-top: 40.91px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

#requirement .requirement-display-1 {
    padding-top: 145.16px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
}

#requirement .requirement-display-2 {
    margin-top: 54.29px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#requirement .requirement-display-3 {
    margin-top: 10.29px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#requirement .requirement-display-head {
    margin-top: 48px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: 2px;
    color: #FFB548;
}

#requirement .requirement-display {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

#score .score-display-1 {
    margin-top: 340px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#score .score-display-2 {
    margin-top: 86.07px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#score .score-display-3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#score .btn {
    margin-top: 40px;
}

#newsletter .image{
    height: 694.408447265625px;
    width: 445.4664611816406px;
    margin-left: 19.96px;
    margin-top: 49.97607421875px;
    border-radius: 0px;

}

#newsletter .newsletter-display-1 {
    margin-top: 49.97607421875px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
/* identical to box height */
    letter-spacing: 2px;
    color: #FFFFFF;
}

#newsletter .newsletter-display-2 {
    margin-top: 49.21px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#newsletter .newsletter-display-3 {
    margin-top: 49.21px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    color: #FFFFFF;
}

#newsletter #newsletter-button-1 {
    margin-top: 16px;
    height: 60px;
    width: 366.9217529296875px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
    text-align: left;
}

#newsletter #newsletter-button-1 span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: 4px;
    text-align: left;
}

#newsletter #newsletter-button-2 {
    margin-top: 16px;
    height: 60.2510986328125px;
    width: 150px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
}
